.container {
	height: 660px;
	margin-left: 25%; 
	margin-right: 25%;
}

.sections {
	width: 100%;
}

.subhead {
	background-image: url("card-catalog.png");
	width: 100%;
	height: 64px;
}

.subHeadTitleOne {
	position: relative;
	font-size: 12px;
	font-family: Cutive-Mono;
	font-weight: bold;
	padding-left: 15px;
	top: 20px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

.body {
	width: 100%;
	max-height: 0px;
	background-color: #D6B890;
	position: relative;
	top: 51px;
	overflow: hidden;
}

.paragraphText {
	position: relative;
	font-family: Cutive-Mono;
	font-size: 17px;
	padding: 32px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	transition: all 600ms;

}

.subHeadTitleTwo {
	position: relative;
	font-size: 12px;
	font-family: Cutive-Mono;
	font-weight: bold;
	padding-left: 15px;
	top: 20px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

.subHeadTitleThree {
	position: relative;
	font-size: 12px;
	font-family: Cutive-Mono;
	font-weight: bold;
	padding-left: 15px;
	top: 20px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;	
}

.sections.active .body {
	max-height: none;
}
